    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a href="/main" class="navbar-brand p-3">
                <img src="assets/booklogo.png" height="28" alt="Prest-A-Book"> Prest-A-Book
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a id="home" href="/main" class="nav-item nav-link active">Home</a>
                    <a href="/search" class="nav-item nav-link">Buscar libros</a>
                    <a href="/interface" class="nav-item nav-link">Mi zona</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a href="/login-register" class="nav-item nav-link">Register</a>
                    <a href="/login-register" class="nav-item nav-link">Login</a>
                </div>
            </div>
        </div>
    </nav>



