    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a href="/main" class="navbar-brand p-3 color-custom-blue2">
                <img src="assets/booklogo.png" height="28" alt="Prest-A-Book"> Prest-A-Book
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a id="home" href="/main" class="nav-item nav-link active color-custom-blue2">Home</a>
                    <a href="/search" class="nav-item nav-link color-custom-blue2">Buscar libros</a>
                    <a href="/adminpanel" class="nav-item nav-link color-custom-blue2">Admin panel</a>
                </div>
                <div class="navbar-nav ms-auto" *ngIf="!isLoged">
                    <a href="/login-register" class="nav-item nav-link color-custom-blue2">Register</a>
                    <a href="/login-register" class="nav-item nav-link color-custom-blue2">Login</a>
                </div>
                <div class="navbar-nav ms-auto" *ngIf="isLoged">
                    <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle color-custom-blue2" data-bs-toggle="dropdown" aria-expanded="false">
                        UserInterface
                    </button>
                    <ul class="dropdown-menu bg-custom-black">
                        <li><a class="dropdown-item color-custom-blue2" href="./interface">Mi zona</a></li>
                        <li><a class="dropdown-item color-custom-blue2" (click)="logOut()">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>



