<footer class="footer bg-dark text-center text-md-start">
    <div class="container p-4">
        <div class="row">

        <!--Info izquierda-->

        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Prest-a-book</h5>
            <p>
            Esta web está hecha por
            <a href="/about">Alberto Jiménez, Carlos Lafuente y Facundo Silva</a>.
            </p>
        </div>

        <!--Columna 1 de links-->

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Referidos:</h5>
            <ul class="list-unstyled mb-0">
            <li>
                <a href="https://www.t-systems.com/es/es" class="text-white">T-System</a>
            </li>
            <li>
                <a href="https://cambrareus.org/" class="text-white">Cambra Reus</a>
            </li>
            <li>
                <a href="https://fundacionesplai.org/" class="text-white">Fundación Esplai</a>
            </li>
            <li>
                <a href="https://techmabs.com/" class="text-white">Techma</a>
            </li>
            </ul>
        </div>      

        <!--Columna 2 de links-->

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">Columna preparada para otros links</h5>

            <ul class="list-unstyled">
            <li>
                <a href="" class="text-white">Link 1</a>
            </li>
            <li>
                <a href="" class="text-white">Link 2</a>
            </li>
            <li>
                <a href="" class="text-white">Link 3</a>
            </li>
            <li>
                <a href="" class="text-white">Link 4</a>
            </li>
            </ul>
        </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="copyright text-center p-3">
        © 2022 Copyright:
        <a class="text-white" href="#">Prest-a-Book</a>
    </div>
</footer>
