#mini{
    height: 40vh;
    border-radius: 50%;
}

#foto{
    border-radius: 20%;
}
.grande{
    height:100%;
}

#intro {
    animation-name: appear;
    animation-duration: 0.8s;
    animation-iteration-count: 1;

}

@keyframes appear {

    from {margin-top: 1em;
    color: #1915196b;}
    to {margin-top: 0em; color: inherit;}

}