<div class="container-fluid p-5">
    <div class="row">
        <div class="col fs-5 fw-bold py-5">
            <h1>Prest-a-Book</h1>
            <br>
            <p>Esta web está hecha por Alberto Jiménez, Carlos Lafuente y Facundo Silva como parte del proyecto Prest-a-Book.</p>
            <p>Prest-a-Book es una aplicación para el préstamos de libros que fomenta la lectura y el compañerismo entre personas con dicho hobby.</p>
            <p>Este proyecto es posible gracias a 
            <a href="https://www.t-systems.com/es/es">T-System</a>, 
            <a href="https://cambrareus.org/">Cambra Reus</a>,
            <a href="https://fundacionesplai.org/">Fundación esplai</a> y
            <a href="https://techmabs.com/">Techma</a>.
            <br><br>
            <p>Prest-a-Book no se hace responsable de la pérdida de libros o diferencias entre los usuarios de esta plataforma.</p>
        </div>
    </div>
</div>
