<footer class="footer bg-dark text-center text-md-start">
    <div class="container p-4">
        <div class="row">

        <!--Info izquierda-->

        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase color-custom-red">TEAM Prest-a-book</h5>
            <p>
            <span class="text-white">¡Conoce a nuestro equipo! </span>
            <a href="/about">Alberto Jiménez, Carlos Lafuente y Facundo Silva</a>.
            </p>
        </div>

        <!--Columna 1 de links-->

        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase color-custom-red">Referidos</h5>
            <ul class="list-unstyled mb-0">
            <li class="mx-2">
                <a href="https://www.t-systems.com/es/es" class="text-white">T-Systems</a>
            </li>
            <li class="mx-2">
                <a href="https://cambrareus.org/" class="text-white">Cambra Reus</a>
            </li>
            <li class="mx-2">
                <a href="https://fundacionesplai.org/" class="text-white">Fundación Esplai</a>
            </li>
            <li class="mx-2">
                <a href="https://techmabs.com/" class="text-white">Techma Business School</a>
            </li>
            </ul>
        </div>      

        </div>
    </div>

    <!-- Copyright -->
    <div class="copyright text-center p-3">
        © 2022 Copyright:
        <a class="text-white" href="#">Prest-a-Book</a>
    </div>
</footer>
