<body class="bg-custom-yellow">
	<div id="bienvenido" class="container-fluid p-5 text-white">
		<div class="row justify-content-md-center">
			<div class="col col-md-auto fs-1 align-self-center fw-bolder"><img src="assets/Logoprestabook.png" alt="Prest-A-Book"></div>
			<div class="col col-md-auto fs-1 align-self-center fw-bolder color-custom-blue">Bienvenido a Prest-a-book</div>
		</div>

	</div>

	<div class="container-fluid bg-custom-orange px-0">
		<div class="container-fluid purebackground p-5">
			<div class="row ignore-opacity">
				<div class="col-3 text-end contentintroImg"><img src="assets/book.png" class="img-fluid" height="256px" width="256px"></div>
					<div class="col col-9 align-self-center fs-5 contentintroText">¿Buscas libros nuevos que devorar? ¿Quieres intercambiar obras y abrir nuevos mundos a lectores como tú?<a href="/login-register" class="color-custom-blue2"><br>¡Regístrate aquí! ¿Ya tienes cuenta? ¡Accede!</a></div>
				</div>
			</div>
			<div class="row ignore-opacity">
				<div class="col-3 text-end contentintroImg"><img src="assets/book.png" class="img-fluid" height="256px" width="256px"></div>
				<div class="col align-self-center fs-5 contentintroText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pretium ac lectus non iaculis. Nam auctor sollicitudin ullamcorper. Sed tincidunt, nulla in aliquam consequat, magna libero mattis tellus, ut facilisis libero odio in erat. Aenean velit ligula, imperdiet sit amet vehicula id, rhoncus sed tellus.</div>
			</div>
	</div>

	<!-- <div class="container-fluid p-5">
		<div class="row">
			<div class="col text-center">
				<input class="w-50" type="text"/>
				<input type="button" value="Search">
			</div>
		</div>
	</div> -->

	<div id="cards-container" class="container-fluid px-0">
		<div class="container-fluid purebackground p-5 pt-0 background-image-center">
			<div class="row mb-3 pt-5">
				<div class="col-12 text-center">
					<span class="fs-1 fw-bold">Últimos libros publicados</span>
				</div>
			</div>
			<div class="row">
				<div id="carouselExampleIndicators" class="carousel slide pb-5 col-lg-6 col-md-8 col-sm-12" data-bs-ride="true">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
							class="active indicator" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
							aria-label="Slide 2" class="indicator"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="card-group">
								<div class="card m-2" style="width: 18rem;" *ngFor="let book of books | slice:0:3;">
									<a href="book/{{book.id}}">
										<img src="{{book.img}}" class="card-img-top" alt="{{book.title}}">
										<div class="card-body">
											<h5 class="card-title">{{book.title}}</h5>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="card-group">
								<div class="card m-2" style="width: 18rem;" *ngFor="let book of books | slice:3:6;">
									<a href="book/{{book.id}}">
										<img src="{{book.img}}" class="card-img-top" alt="{{book.title}}">
										<div class="card-body">
											<h5 class="card-title">{{book.title}}</h5>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid bg-custom-orange">
		<div class="container-fluid purebackground p-5">
			<div class="row">
				<div class="col-6 text-center contentintroImg">
					<span class="fs-2 fw-bold">¿No encuentras lo que buscas?</span><br>
					<a class="color-custom-blue fs-3" href="/interface">Crea una lista de deseos --></a>
				</div>
				<div class="col-6 text-center contentintroImg">
					<span class="fs-2 fw-bold">¿Quieres prestar libros que no usas?</span><br>
					<a class="color-custom-blue fs-3" href="/login-register">Inicia sesión y comienza a compartir --></a>
				</div>
			</div>
		</div>
	</div>



</body>
