.carousel-inner{
    margin:auto;
}

#carouselExampleIndicators{
    margin:auto;
}

.indicator{
    border:0.13em solid black;
    border-radius: 50px;
}

#bienvenido{
    height: 50vh;
    max-height: 50vh;
    background-image: url(./../../assets/background.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 170% auto;
}

.card > img{
    width: 100%;
    height: 80%;
}

.card{
    padding: 0;
    border: 0px;
}