.carousel-inner{
    margin:auto;
}

#carouselExampleIndicators{
    margin:auto;
}

.indicator{
    height: 1vh;
    border:0.13em solid black;
    border-radius: 50px;
    /*background-image: url(./../../assets/booklogo.png);*/
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% auto;
}

#containercentral{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#bottom{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#libroscielo{
    border-radius:20%;
}

#bienvenido {
    height: 60vh;
    max-height: 60vh;
    background-image: url(./../../assets/header-3.jpeg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% auto;
}

#flotando{
    border-radius: 50%;
}

.card > img{
    width: 100%;
    height: 80%;
}

.card{
    padding: 0;
    border: 0px;
}

#header-reduct-width {

    width: 50%;

}

#libreria {

    padding-right: 5px;

}

.bookimg {

    max-height: 370px;

}

.generatebookMaxHeight {

    max-height: 150px;

}

.generatedbookHeight {

    max-height: 230px;

}

.librarygenerator {

    height: 180px;
    max-height: 180px;
    width: 256px;
    background-image: url(./../../assets/libroscielo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;

}

@media (max-width: 1700px) {

    .bookimg {

        max-height: 300px;

    }

}

@media (max-width: 950px) {

    #bienvenido{
        background-size: 120% auto;
    }

}

@media (max-width: 810px) {

    #bienvenido{
        background-size: 130% auto;
    }

}

@media (max-width: 750px) {

    #bienvenido{
        background-size: 160% auto;
    }

    #header-reduct-width {

        width: 100%;

    }

}

@media (max-width: 600px) {

    #bienvenido{
        background-size: 220% auto;
    }

    .bookimg {

        max-height: 400px;
    
    }

}
@media (max-width: 455px) {

    #bienvenido{
        background-size: 280% auto;
    }

}

/* Animaciones */

.headerintro {

    animation-name: headerappear;
    animation-duration: 1s;
    animation-iteration-count: 1;

}

@keyframes headerappear {

    from {padding-left: 0em;
    opacity: 0;}
    to {}

}

.contentintroImg {

    animation-name: contentimgappear;
    animation-duration: 1.2s;
    animation-iteration-count: 1;

}

.contentintroText {

    animation-name: contentappear;
    animation-duration: 1.5s;
    animation-iteration-count: 1;

}

@keyframes contentimgappear {

    from {opacity: 0;}
    to {}

}

@keyframes contentappear {

    from {padding-right: 0em;
        padding-left: 24px;
    opacity: 0;}
    to {}

}

