<body class="bg-custom-yellow">
	<div class="container-fluid p-5">
		<div class="row">
			<div class="col-5 text-end"><img src="assets/booklogo.png" class="img-fluid" height="128px" width="128px"></div>
			<div class="col fs-1 align-self-center fw-bolder">Prest-A-Book</div>
		</div>
	</div>

	<div class="container-fluid bg-custom-orange p-5">
		<div class="row">
			<div class="col-3 text-end"><img src="assets/book.png" class="img-fluid" height="256px" width="256px"></div>
			<div class="col align-self-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pretium ac lectus non iaculis. Nam auctor sollicitudin ullamcorper. Sed tincidunt, nulla in aliquam consequat, magna libero mattis tellus, ut facilisis libero odio in erat. Aenean velit ligula, imperdiet sit amet vehicula id, rhoncus sed tellus.</div>
		</div>
		<div class="row">
			<div class="col-3 text-end"><img src="assets/book.png" class="img-fluid" height="256px" width="256px"></div>
			<div class="col align-self-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pretium ac lectus non iaculis. Nam auctor sollicitudin ullamcorper. Sed tincidunt, nulla in aliquam consequat, magna libero mattis tellus, ut facilisis libero odio in erat. Aenean velit ligula, imperdiet sit amet vehicula id, rhoncus sed tellus.</div>
		</div>
	</div>

	<div class="container-fluid p-5">
		<div class="row">
			<div class="col text-center">
				<input class="w-50" type="text"/>
				<input type="button" value="Search">
			</div>
		</div>
	</div>

	<div class="container-fluid p-5 pt-0">
		<div class="row">
			<div class="col mt-3 text-center">
				<img src="assets/BDM.jpg" class="img-fluid" alt="Bruja del mar">
			</div>
			<div class="col mt-3 text-center">
				<img src="assets/DQDLM.jpg" class="img-fluid" alt="Bruja del mar">
			</div>
			<div class="col mt-3 text-center">
				<img src="assets/AEEPDLM.jpg" class="img-fluid" alt="Bruja del mar">
			</div>
			<div class="col-1 align-self-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 64 64">
					<path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
				</svg>
			</div>
		</div>
	</div>

	<div class="container-fluid bg-custom-orange p-5">
		<div class="row">
			<div class="col">
				<span class="fs-2">¿No encuentras lo que buscas?</span>
				<span class="color-custom-blue fs-3">Crea una lista de deseos --></span>
			</div>
			<div class="col">
				<span class="fs-2">¿Quieres prestar libros que no usas?</span>
				<span class="color-custom-blue fs-3">Inicia sesión y comienza a compartir --></span>
			</div>
		</div>
	</div>

</body>
