<app-adminpanel></app-adminpanel>

<div class="container">

    <div class="mat-elevation-z8">
        <table mat-table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Control</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Alberto</td>
                    <td>Administrador</td>
                    <td><button class="btn btn-danger">x</button><button class="btn btn-success">-</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Facu</td>
                    <td>Colaborador</td>
                    <td><button class="btn btn-danger">x</button><button class="btn btn-success">-</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Carlos</td>
                    <td>Usuario</td>
                    <td><button class="btn btn-danger">x</button><button class="btn btn-success">-</button></td>
                </tr>
            </tbody>
        </table>

        <!-- <mat-paginator [pageSizeOptions]="[5, 25, 50]">
        </mat-paginator> -->
    </div>
</div>