<body class="bg-custom-yellow p-1">
    <div class="container mt-5 ">
        <div id="searchbar" class="row bg-custom-orange p-3 mb-2">
            <div class="col-lg-2 col-md-4 col-6  mt-1">
                <select name="orderby" id="orderby" class="form-select col-2 px-2">
                    <option value="alfabetico">Alfabético</option>
                    <option value="reciente">Más Reciente</option>
                    <option value="paginas">Núm. Páginas</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-4 col-6 mt-1">
                <input name="title" type="text" class="form-control" placeholder="Por Título">
            </div>
            <div class="col-lg-3 col-md-4 col-6 mt-1">
                <input name="autor" type="text" class="form-control" placeholder="Por Autor">
            </div>
        </div>
        <div id="books" class="row justify-content-center bg-custom-orange pt-4 mb-4" *ngIf="books!==undefined">
            <div class="card m-2" style="width: 18rem;" *ngFor="let book of books">
                <a href="book/{{book.id}}">
                    <img src="{{book.img}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                    </div>
                </a>

            </div>
        </div>
    </div>
</body>