<body class="bg-custom-yellow p-1 purebackground background-image-center fontcabecera">
    <div id="contenedor" class="container mt-5 ">
        <div id="searchbar" class="row bg-custom-orange p-3 mb-2 rounded-3 justify-content-center">
            <div class="col-lg-4 col-md-4 col-6 mt-1">
                <select name="orderby" id="orderby" class="form-select col-2 px-2" [(ngModel)]="ordenarBy"
                    (click)="orderBooks()">
                    <option value="0">Alfabético A-Z</option>
                    <option value="1">Alfabético Z-A</option>
                    <option value="2">Más Reciente</option>
                    <option value="3">Más Antiguo</option>
                    <option value="4">Núm. Páginas Asc</option>
                    <option value="5">Núm. Páginas Desc</option>
                </select>
            </div>
            <div class="col-lg-4 col-md-4 col-6 mt-1">
                <input name="title" type="text" class="form-control" placeholder="Por Título" [(ngModel)]="titleSearch"
                    (keyup)="searchByTitle()">
            </div>
            <div class="col-lg-4 col-md-4 col-6 mt-1">
                <input name="autor" type="text" class="form-control" placeholder="Por Autor" [(ngModel)]="authorSearch"
                    (keyup)="searchByAuthor()">
            </div>
        </div>
        <div class="row" *ngIf="!estaBuscando && !isFetching">
            <div class="col">
                Mostrando {{librosParaCargarstart + 1}} - {{librosParaCargarend}} de {{books!.length}}
            </div>
        </div>
        <div class="row" *ngIf="estaBuscando && !isFetching">
            <div class="col">
                Mostrando {{librosParaCargarstart + 1}} - {{librosParaCargarend}} de {{LibrosEncontrados!.length}}
            </div>
        </div>
        <ng-container *ngIf="isFetching">
            <p>Cargando...</p>
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </ng-container>
        <div id="books" class="row justify-content-center bg-custom-orange py-4 mb-4 rounded-3"
            *ngIf="books!==undefined">
            <ng-container *ngIf="!estaBuscando">
                <div class="card m-2" style="width: 18rem;" routerLink="/book/{{book.id}}"
                    *ngFor="let book of books | slice:librosParaCargarstart:librosParaCargarend;">
                    <img src="{{book.img}}" class="card-img-top rounded-top bookimg" alt="{{book.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="estaBuscando && LibrosEncontrados.length != 0">
                <div class="card m-2" style="width: 18rem;" routerLink="/book/{{book.id}}"
                    *ngFor="let book of LibrosEncontrados | slice:librosParaCargarstart:librosParaCargarend;">
                    <img src="{{book.img}}" class="card-img-top rounded-top bookimg" alt="{{book.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="estaBuscando && LibrosEncontrados.length == 0">
                <p>No se ha encontrado ningun resultado</p>
            </ng-container>
        </div>
        <div class="row">
            <div class="col text-center" *ngIf="!estaBuscando && !isFetching">
                <div class="btn-group py-5" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-secondary fw-bold"
                        *ngIf="books!==undefined && librosParaCargarstart - 23 > 0"
                        (click)="comprobarLength(false, 2)"><a
                            class="text-reset text-decoration-none">{{page - 2}}</a></button>
                    <button type="button" class="btn btn-secondary fw-bold"
                        *ngIf="books!==undefined && librosParaCargarstart - 11 > 0"
                        (click)="comprobarLength(false, 1)"><a
                            class="text-reset text-decoration-none">{{page - 1}}</a></button>
                    <button type="button" class="btn btn-primary fw-bold">{{page}}</button>
                    <button type="button" class="btn btn-secondary fw-bold"
                        *ngIf="books!==undefined && books.length > librosParaCargarend"
                        (click)="comprobarLength(true, 1)"><a
                            class="text-reset text-decoration-none">{{page + 1}}</a></button>
                    <button type="button" class="btn btn-secondary fw-bold"
                        *ngIf="books!==undefined && books.length > librosParaCargarend + 12"
                        (click)="comprobarLength(true, 2)"><a
                            class="text-reset text-decoration-none">{{page + 2}}</a></button>
                </div>
            </div>
            <div class="col text-center" *ngIf="estaBuscando && !isFetching">
                <div class="btn-group py-5" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-secondary fw-bold"
                        *ngIf="LibrosEncontrados!=undefined && librosParaCargarstart - 23 > 0"
                        (click)="comprobarLength(false, 2)"><a
                            class="text-reset text-decoration-none">{{page - 2}}</a></button>
                    <button type="button" class="btn btn-secondary fw-bold"
                        *ngIf="LibrosEncontrados!=undefined && librosParaCargarstart - 11 > 0"
                        (click)="comprobarLength(false, 1)"><a
                            class="text-reset text-decoration-none">{{page - 1}}</a></button>
                    <button type="button" class="btn btn-primary fw-bold">{{page}}</button>
                    <button type="button" class="btn btn-secondary fw-bold"
                        *ngIf="LibrosEncontrados!==undefined && LibrosEncontrados.length > librosParaCargarend"
                        (click)="comprobarLength(true, 1)"><a
                            class="text-reset text-decoration-none">{{page + 1}}</a></button>
                    <button type="button" class="btn btn-secondary fw-bold"
                        *ngIf="LibrosEncontrados!==undefined && LibrosEncontrados.length > librosParaCargarend + 12"
                        (click)="comprobarLength(true, 2)"><a
                            class="text-reset text-decoration-none">{{page + 2}}</a></button>
                </div>
            </div>
        </div>
    </div>
</body>