<body class="bg-custom-yellow align-self-center">
    <div class="container-fluid text-center p-5">

        <div class="row">
            <div class="col">
                Buscar libro
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input class="w-50" type="text"/>
				<input type="button" value="Search">
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row text-end mx-5">
            <div class="col">
                Mostrar 
                <select class="form-select d-inline-block w-auto">
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="20">50</option>
                    <option value="20">100</option>
                </select> 
                registros
            </div>
        </div>
    </div>
	<div class="container-fluid color-custom-black mt-2">
		<div class="row mx-5">
            <div class="col-3 bg-white p-4 h-25">

                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col">
                            <span class="fs-4 fw-bold">Ordenar por</span> <span class="fs-4">Icon to Asc-Desc</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-3 ms-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="abc">
                                <label class="form-check-label" for="abc">
                                  Orden alfabético
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="recent">
                                <label class="form-check-label" for="recent">
                                  Reciente
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="pagescount">
                                <label class="form-check-label" for="pagescount">
                                  Número de páginas
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="fs-4 mt-3 fw-bold">Categorías</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-3 ms-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="art">
                                <label class="form-check-label" for="art">
                                    Arte
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="biografy">
                                <label class="form-check-label" for="biografy">
                                    Biografías
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="science">
                                <label class="form-check-label" for="science">
                                    Ciencia
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="cook">
                                <label class="form-check-label" for="cook">
                                    Cocina
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="comedy">
                                <label class="form-check-label" for="comedy">
                                    Comedia
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="comics">
                                <label class="form-check-label" for="comics">
                                    Cómics
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="economy">
                                <label class="form-check-label" for="economy">
                                    Economia
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="fiction">
                                <label class="form-check-label" for="fiction">
                                    Ficción
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="story">
                                <label class="form-check-label" for="story">
                                    Historia
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="info">
                                <label class="form-check-label" for="info">
                                    Informática
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="lit">
                                <label class="form-check-label" for="lit">
                                    Literatura
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="mistery">
                                <label class="form-check-label" for="mistery">
                                    Misterio
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="politic">
                                <label class="form-check-label" for="politic">
                                    Política
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="romantic">
                                <label class="form-check-label" for="romantic">
                                   Romántica
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="sus">
                                <label class="form-check-label" for="sus">
                                    Suspense
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="fs-4 mt-3 fw-bold">Cajones</span>
                            </div>
                        </div>
                        <div class="col p-3 ms-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="cajona">
                                <label class="form-check-label" for="cajona">
                                    A
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="cajonb">
                                <label class="form-check-label" for="cajonb">
                                    B
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="cajonc">
                                <label class="form-check-label" for="cajonc">
                                    C
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="cajond">
                                <label class="form-check-label" for="cajond">
                                    D
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-1"></div>
            <div class="col">
                <div class="container bg-custom-orange">
                    <div class="row p-5 pb-1 text-center">
                        <div class="col-4">
                            <img src="assets/DQDLM.jpg" class="img-fluid" alt="Bruja del mar" height="300">
                        </div>
                        <div class="col-4">
                            <img src="assets/DQDLM.jpg" class="img-fluid" alt="Bruja del mar" height="300">
                        </div>
                        <div class="col-4">
                            <img src="assets/DQDLM.jpg" class="img-fluid" alt="Bruja del mar" height="300">
                        </div>
                    </div>
                    <div class="row p-5 pb-1 text-center">
                        <div class="col-4">
                            <img src="assets/DQDLM.jpg" class="img-fluid" alt="Bruja del mar" height="300">
                        </div>
                        <div class="col-4">
                            <img src="assets/DQDLM.jpg" class="img-fluid" alt="Bruja del mar" height="300">
                        </div>
                    </div>
                    <div class="row p-5 text-center">
                        <div class="col-4">
                            <img src="assets/DQDLM.jpg" class="img-fluid" alt="Bruja del mar" height="300">
                        </div>
                        <div class="col-4">
                            <img src="assets/DQDLM.jpg" class="img-fluid" alt="Bruja del mar" height="300">
                        </div>
                    </div>
                </div>
                <div class="container mt-3 px-0">
                    <div class="row">
                        <div class="col">
                            Mostrando el 1 al 5 de un total de 5 registros
                        </div>
                        <div class="col text-end">
                            <nav>
                                <ul class="pagination justify-content-end">
                                    <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</body>
