<body class="vh-100">
	<div class="container-fluid color-custom-black h-100">
		<div class="row h-100">
            <div class="col p-0">
                <div class="container-fluid bg-custom-yellow h-100 p-5">
                    <div class="row">
                        <div class="col fs-2 fw-bold py-3">
                            Log in
                        </div>
                    </div>
                    <div class="row">
                        <div class="col fs-5 fw-bold py-2">
                            Usuario
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-1">
                            <input type="text" name="User">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col fs-5 fw-bold py-2">
                            Contraseña
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-1">
                            <input type="text" name="Pass">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col pt-3">
                            <input type="button" value="Entrar">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-1">
                            <span>¿No tienes cuenta?</span> <span class="color-custom-blue">Registrate</span>
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-9 p-0">
                <div class="container-fluid bg-custom-orange h-100 p-5">
                    <div class="row">
                        <div class="col fs-2 fw-bold py-3">
                            Register
                        </div>
                    </div>
                    <div class="row">
                        <div class="col fs-5 fw-bold py-2">
                            Nombre de usuario
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-1">
                            <input type="text" name="User">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col fs-5 fw-bold py-2">
                            Correo electronico
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-1">
                            <input type="text" name="Pass">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col fs-5 fw-bold py-2">
                            Contraseña
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-1">
                            <input type="text" name="Pass">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col fs-5 fw-bold py-2">
                            Confirmar contraseña
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-1">
                            <input type="text" name="Pass">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col pt-3">
                            <input type="button" value="Entrar">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-1">
                            <span>¿Ya tienes cuenta?</span> <span class="color-custom-blue">Accede</span>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</body>